* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 67px 1fr;
    background-color: rgb(37, 106, 255);
}

/* ###########################################################
                            NAV
########################################################### */
nav {
    background-color: rgb(0, 26, 255);
    display: flex;
    font-size: 25px;
    font-weight: 600;
    gap: 20px;
    color: #fff;
}
#home {
    width: 40px;
    height: 40px;
    padding-bottom: 3px;
}
.nav__logo {
    flex-grow: 1;
}
#logo {
    width: 450px;
}

.nav__telefono, .nav__whatsapp {
    padding-top:20px;
    padding-right: 20px;
}
.nav__telefono img, .nav__whatsapp img {
    height: 20px;
}

/* ###########################################################
                            BOTONERA
########################################################### */
.botonera__container{
    width: 100vw;
    height: calc(100vh - 67px);
    padding: 20px;
    
    display: flex;
}
.botonera {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    width: 400px;
}
.botonera__boton{
    width: 350px;
    height: 80px;
    background-color: rgba(0, 4, 255, 0.5);
    color: #fff;
    padding: 10px;
}
.botonera__boton:nth-child(2) {background-color: rgb(255, 0, 0);}
.botonera__boton:nth-child(3) {background-color: rgb(0, 141, 7);}
.botonera__boton:nth-child(4) {background-color: rgb(121, 0, 81);}
.botonera__boton:nth-child(5) {background-color: rgb(99, 121, 0);}

.botonera__boton:hover{
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.botonera__boton_titulo{
    font-size: 30px;
}
.botonera__boton_subtitulo{
    padding-top: 5px;
}

/* ###########################################################
                            BOTONERA
########################################################### */
.banner {
    width: calc(100vw - 370px);
    height: 100%;
    background-image: url("../img/imprenta.jpg");
    background-size: cover;
    background-position: center;
}