/* ###########################################################
                            BOTONERA horizontal
########################################################### */
.botonera__container_vertical{
    width: 100vw;
    height: calc(100vh - 67px);
    display: flex;
}
.botonera__vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100vw;
    align-items: center;
}


.banner__vertical {
    width: 100vw;
    height: 50%;
    background-color: blue;
    background-image: url("../img/imprenta.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

